@import "../mixins/bem";
@import "../variables";

@include b(t-datepicker){
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  line-height: normal;
  font-size: 14px;

  @include e(popper){
    border: 1px #374fbb solid;
    box-shadow: 0 0 0 2px #e2e5f6;
  }

  @include e(footer){
    margin-top: 5px;
    padding: 5px 10px;
    border-top: 1px #ccc solid;
    text-align: right;
    -webkit-user-select: none;
  }

  @include e(now){
    color: $main-col;
    vertical-align: middle;
    -webkit-user-select: none;
    cursor: pointer;
    &:hover{
      text-decoration: underline
    }
  }

  @include m(inline){
    display: inline-block;
  }
}

@include b(t-datepicker-panelbtn){
  padding: 5px 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  color: #555;
  -webkit-user-select: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;

  @include m(today){
    color: $main-col;
    font-weight: bold;
  }

  &:hover{
    background-color: lighten($main-col, 25);
    color: #fff;
  }

  @include m(in-range){
    background-color: lighten($main-col, 25);
    color: #fff;
  }

  @include m(selected){
    &, &:hover{
      background-color: $main-col;
      color: #fff;
    }
  }

  @include m(not-current){
    &,
    &:hover,
    &.t-datepicker-panelbtn--in-range,
    &.t-datepicker-panelbtn--selected{
      background-color: initial;
      color: #bbb;
    }
  }
  
  @include m(disabled){
    cursor: not-allowed;
    &, &:hover{
      background-color: #eee;
      color: #bbb;
    }
  }
}

@include b(t-datepicker-datepanel){
  -webkit-user-select: none;
  table{
    width: 100%;
    margin: 0;
    display: table;
  }
  tr{
    background-color: #fff;
    border: 0;
  }
  td{
    text-align: center;
    border: 0;
  }
  @include e(week){
    td{
      color: #999;
      font-size: 12px;
      font-weight: normal;
      padding-bottom: 6px;
      padding-top: 8px;
    }
  }

  @include e(day){
    td{
      padding: 5px 5px;
      width: 14.3%;
    }
  }
}

@include b(t-datepicker-monthpanel){
  table{
    width: 100%;
    margin: 0;
    display: table;
  }
  tr{
    background-color: #fff;
    border: 0;
  }
  td{
    text-align: center;
    border: 0;
    padding: 5px;
  }
}

@include b(t-datepicker-yearpanel){
  table{
    width: 100%;
    margin: 0;
    display: table;
  }
  tr{
    background-color: #fff;
    border: 0;
  }
  td{
    text-align: center;
    border: 0;
    padding: 10px 5px;
  }
}

@include b(t-datepicker-navibar){
  background-color: $main-col;
  color: #fff;
  line-height: 36px;
  font-size: 12px;
  overflow: hidden;
  position: relative;

  @include e(btn){
    cursor: pointer;
    -webkit-user-select: none;
  }

  @include e(left){
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
  }

  @include e(right){
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
  }

  @include e(center){
    text-align: center;
  }
}

@include b(t-datepicker-inputs){
  table{
    width: 100%;
    margin: 0;
    display: table;
  }
  tr{
    background-color: #fff;
    border: 0;
  }
  td{
    text-align: center;
    border: 0;
    padding: 5px;
  }
  @include e(date-editing){
    input{
      border-color: $main-col !important;
    }
  }
}

@include b(t-datepicker-range){
  width: 522px;

  @include e(date-view){
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }

  @include e(date-panel){
    float: left;
    width: 50%;

    &:first-child .t-datepicker-datepanel{
      padding-right: 10px;
    }
    &:last-child .t-datepicker-datepanel{
      padding-left: 10px;
    }
  }

  @include e(time-view){
    overflow: hidden;
  }

  @include e(time-panel){
    float: left;
    width: 50%;
  }

  @include e(inputs){
    overflow: hidden;
  }

  @include e(input){
    float: left;
    width: calc(50% - 10px);
  }

  @include e(input-sp){
    float: left;
    width: 20px;
    line-height: 34px;
    text-align: center;
  }
}

@include b(t-datepicker-date){
  width: 335px;
}

@include b(t-datepicker-timepanel) {
  table{
    width: 100%;
    margin: 0;
    display: table;
  }
  tr{
    background-color: #fff;
    border: 0;
  }
  td{
    text-align: center;
    border: 0;
    padding: 0;
  }

  @include e(scroll){
    height: 246px;
  }

  @include e(label){
    text-align: center;
    line-height: 28px;
  }

  @include e(bar){
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    -webkit-user-select: none;

    @include m(active){
      background-color: #eee;
    }
    
    @include m(disabled){
      color: #ddd;
      cursor: not-allowed;
    }

    &:hover{
      background-color: #eee;
    }
  }
}
