@import "../mixins/bem";
@import '../variables.scss';

@include b(t-progress){

  @include m(inner){
    padding-right: 38px;
    position: relative;
  }

  @include e (bar) {
    height: 14px;
    background-color: #d7d7d7;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 1px 0 0 #fff;
    position: relative;
    font-size: 12px;
    line-height: 14px;

    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      box-shadow: 0 1px 0 0 #ccc inset;
    }
  }

  @include e(progress){
    float: left;
    height: 100%;
    background-color: $main-col;
    color: #fff;
    text-align: right;
    white-space: nowrap;
    transition: width .3s ease-in-out;
    overflow: hidden;
    position: relative;
    z-index: 1;

    var{
      font-style: normal;
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  @include e(left-word){
    color: #333;
    font-style: normal;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 12px;
    position: absolute;
    left: 0;
  }

  @include e(right-word){
    position: absolute;
    right: 0px;
    top: -1px;
    font-size: 12px;
    width: 34px;
    font-style: normal;
  }
}
